<!--Contact Page Started-->
<section id="Home" class="HomePage d-flex flex-column justify-content-center webp-content webp"
    style="padding-bottom: 70px;text-align: center;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <div>
                    <h2 style="font-size: 30px;
                font-weight: 400;
                line-height: 56px;">It's me</h2>
                    <h2 style="font-size: 49px;
            font-weight: 700;
            line-height: 56px;">Sudhakar M</h2>
                    <h4 style="color: #0563bb;">Associate Software Engineer</h4>
                </div>
                <div style="margin-left: -17px;">
                    <a class="tw-ic" href="https://www.facebook.com/sudhakar.kanish.5">
                        <i class="fa fa-facebook icon"> </i>
                    </a>
                    <a class="tw-ic" href="https://twitter.com/SUDHAKA33277478">
                        <i class="fa fa-twitter icon"> </i>
                    </a>
                    <a class="tw-ic" href="https://www.youtube.com/channel/UCAXjNPb8fMs4xy6GSJkX8Yg">
                        <i class="fa fa-youtube icon"> </i>
                    </a>
                    <a class="tw-ic" href="tel:9597175970">
                        <i class="fa fa-whatsapp icon"> </i>
                    </a>
                    <a class="tw-ic" href="https://secure.skype.com/portal/profile">
                        <i class="fa fa-skype icon"> </i>
                    </a>
                    <a class="tw-ic" href="https://github.com/Sudhakarm1">
                        <i class="fa fa-github icon"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" href="https://www.linkedin.com/in/sudha1998/">
                        <i class="fa fa-linkedin icon"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/sudhakar_kongu_dharmapuri/">
                        <i class="fa fa-instagram icon"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" href="https://in.pinterest.com/sudhajar/_saved/">
                        <i class="fa fa-pinterest icon"> </i>
                    </a>
                </div>
                <div>
                    <button type="submit" class="btn"
                        style="background-color: #45505b;color: white;font-weight:bold;"><a
                            href="./assets/Image/Sudhakar Update Resume.pdf"
                            style="color: white; text-decoration:none;">RESUME</a></button>&nbsp;
                    <button type="submit" class="btn" style="background-color: #45505b;color: white;font-weight:bold;">
                        <a href="https://www.linkedin.com/in/sudha1998/"
                            style="color: white; text-decoration:none;">HIRE ME</a></button>&nbsp;
                    <button type="submit" class="btn"
                        style="background-color: #45505b;color: white;font-weight:bold;"><a href="#aboutme"
                            style="color: white; text-decoration:none;">ABOUT
                            ME ↓</a></button>
                </div>
            </div>

        </div>
        <br>

    </div>

</section>
<!--About Page Started-->
<section id="aboutme" style="padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <h2 style="text-align: center;margin-top: 40px;">ABOUT ME</h2>
                <hr style="width: 245px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="font-size: 16px;font-family:sans-serif">
                <div>
                    <div>
                        <em>A creative and innovative Java Full Stack Developer passionate about building designs and
                            advanced technical solutions. Posses the ability to evaluate and manipulate designs as per
                            client expectations. Have a strong focus on energy-efficient designs and open to
                            contributing designs to a design firm's project repository.
                        </em>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <ul>
                                    <li><strong>Name : </strong><span>Sudhakar</span></li>
                                    <li><strong>DOB : </strong><span>07/06/1998</span></li>
                                    <li><strong>Email : </strong><span>Sudhakarm761998@gmail.com</span></li>
                                    <li><strong>Intrest : </strong><span>Sharing Knowledge , Train a Peoples</span></li>
                                    <li><strong>Marital Status : </strong><span>Single</span></li>
                                </ul>
                            </div>

                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <ul>
                                    <li><strong>Work Queries : </strong><span>Avaliable</span></li>
                                    <li><strong>Gender : </strong><span>Male</span></li>
                                    <li><strong>Language : </strong><span>English , Tamil , Kannadam</span></li>
                                    <li><strong>Experience : </strong><span>1 Year</span></li>
                                    <li><strong>Current Role : </strong><span>Associate Software Engineer</span></li>
                                </ul>
                            </div>
                        </div>
                        <em>I'm usually a math addict , so I always have craze in logical solvings and also a passionate
                            developer with proven track record of taking complex problems and turnnig into easy
                            interface web application</em>
                        <br>
                        <em> I'm good at Fixing gear of slow racing web application and web sites. I've worked in pretty
                            cool application but still hungry on modern web applications !!!</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Resume Page Started-->
<section id="resume" style="padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <h2 style="text-align: center;margin-top: 40px;">RESUME</h2>
                <hr style="width: 143px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-5">
                <div>
                    <h3>Summary</h3>
                    <div class="resume">
                        <h4 class="resume-heading">Sudhakar M</h4>
                        <em>Software Developer with One years of experience to contribute to team success through hard
                            work with excellent organizational skills in coding ,testing and establishing system
                            improvements. Equally at freelancing with software development for PCs and Mobiles, online
                            environments.</em>
                        <ul>
                            <li>Sudhakarm761998@gmail.com</li>
                            <li>+91 9597175970</li>
                        </ul>

                    </div>
                </div>
                <div>
                    <h3>Education</h3>
                    <div class="resume">
                        <div>
                            <h4 class="resume-heading">Bachelor Of Engineering (ECE)</h4>
                            <em>2015-2019</em><br>
                            <em>from KPR Institute Of Engineering And Technology,Percentage: 75%</em>
                        </div>
                        <br>
                        <div>
                            <h4 class="resume-heading">Higher Secondary (Bio-Maths)</h4>
                            <em>2013-2015</em><br>
                            <em>from PVE Metric Higher Secondar School,Percentage: 84%</em>
                        </div>
                        <br>
                        <div>
                            <h4 class="resume-heading">SSLC</h4>
                            <em>2012-2013</em><br>
                            <em>from Goverment Higher Secondar School,Percentage: 90%</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <div>
                    <h3>Experience</h3>
                    <div class="resume">
                        <div>
                            <h4 class="resume-heading">Assosiate Software Engineer </h4>
                            <em>2021 - Present</em><br>
                            <em>Virtusa , Chennai </em>
                        </div><br>
                        <div>
                            <h4 class="resume-heading">Web Developer (Front End developer)</h4>
                            <em>2020-2020( 4 months )</em><br>
                            <em>Thidiff Technologies , Banglore </em>
                        </div><br>
                        <div>
                            <h4 class="resume-heading">Web Developer (Angular developer)</h4>
                            <em>2019-2020( 4 months )</em><br>
                            <em>Aagnia Technologies , Coimbatore </em>
                        </div>

                    </div>
                </div>
                <div>
                    <h3>Software Training</h3>
                    <div class="resume">
                        <div>
                            <h4 class="resume-heading">Java Full Stack Developer</h4>
                            <em>2020-2021( 8 months )</em><br>
                            <em>Jspider Institute of Technologies , Banglore </em>
                        </div><br>
                        <div>
                            <h4 class="resume-heading">Python</h4>
                            <em>2019-2020( 5 months )</em><br>
                            <em>Manfree Technologies , Coimbatore </em>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--Resume Page Started-->
<section id="Skills" style="padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <h2 style="text-align: center;margin-top: 40px;">Skills</h2>
                <hr style="width: 245px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h4 class="Skill-heading">Front End Technology : </h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="Html" width="auto"
                                    height="50"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="Css" width="auto"
                                    height="50"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="bootatrap" width="auto"
                                    height="50"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="JavaScript" width="auto"
                                    height="50"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="jQuery" width="auto"
                                    height="50"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="Angular" width="auto"
                                    height="50"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div>
                        <h4 class="Skill-heading">Back End Technology : </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" id="tech">
                <img [src]="Resume" width="auto" height="50">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 " id="tech"><img [src]="CSharp" width="auto" height="50">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 " id="tech"><img [src]="Spring" width="auto" height="50">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 " id="tech"><img [src]="DotNet" width="auto" height="50">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 " id="tech"><img [src]="DotNetMVC" width="auto" height="50">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 " id="tech"><img [src]="python" width="auto" height="50">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h4 class="Skill-heading">DataBase Technology : </h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="Microsoft" width="auto"
                                    height="50"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="MySql" width="auto"
                                    height="50"></div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 tech"><img [src]="Mongo" width="auto"
                                    height="50"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Certifications Page Started-->
<section id="certification" style="padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <h2 style="text-align: center;margin-top: 40px;">CERTIFICATIONS</h2>
                <hr style="width: 245px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 certification"><img [src]="CertificationPro" width="auto" height="200"></div>
            <div class="col-lg-4 certification"><img [src]="CertificationGuvi" width="auto" height="200"></div>
            <!--<div class="col-lg-3">qweqwe</div>-->
        </div>
    </div>
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3"><img src="312.jpg"></div>
            <div class="col-lg-3"><img src="312.jpg"></div>
            <div class="col-lg-3"><img src="312.jpg"></div>
        </div>
    </div>-->
</section>
<!--<section id="Appreciation" style="padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <h2 style="text-align: center;margin-top: 40px;">PORTFOLIO</h2>
                <hr style="width: 245px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">
            </div>
        </div>
    </div>-->
<!--Resume Page Started-->
<section id="Appreciation" style="padding-bottom: 70px;">
    <div class="container">
        <div class="row Appreciationrow">
            <div class="contact-Heading col-lg-12">
                <h2 style="text-align: center;margin-top: 40px;">APPRECIATION</h2>
                <hr style="width: 245px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 apprication">
                <div>
                    <div>
                        <em>He is one of Excelent technical knowledge and logical thinking person and he is Quick
                            learner ,Hardworking and Possitive person.</em>
                    </div>
                    <div style="text-align:right;">
                        <strong>IMITIAYAZ</strong><br>
                        <em>Manager</em><br>
                        <em>Jspider Training Institute,</em>
                        <em>Banglore</em>
                    </div>
                </div>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 apprication">
                <div>
                    <div>
                        <em>I always enjoy every project that I work on with you. Thank you for your invaluable
                            contribution to our team and for always pushing me outside of my comfort zone,
                            encouraging me to be the best version of myself..</em>
                    </div>
                    <div style="text-align:right;">
                        <strong>Abhishek</strong><br>
                        <em>Software Engineer</em><br>
                        <em>Virtusa ,</em>
                        <em>Chennai</em>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 apprication">
                <div>
                    <div>
                        <em>You're a great person to work with and I truly appreciate the time and effort you put
                            it.
                            I've really enjoyed the opportunity to get to work closely with you in the past few
                            months. ...
                            .</em>
                    </div>
                    <div style="text-align:right;">
                        <strong>Antony</strong><br>
                        <em>Project Manager</em><br>
                        <em>Thidiff Technologies,</em>
                        <em>Banglore</em>
                    </div>
                </div>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 apprication">
                <div>
                    <div>
                        <em>I am so grateful to work with you every day. Your continued support and all of the help
                            you provided on our project was invaluable. It truly means so much.</em>
                    </div>
                    <div style="text-align:right;">
                        <strong>Vishnu K</strong><br>
                        <em>Associate Software Engineer</em><br>
                        <em>FriendZone Technology</em>
                        <em>Banglore</em>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Contact Page Started-->
<section id="contact" class="ContactPage" style="padding-bottom: 70px;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <h2 style="text-align: center;margin-top: 40px;">CONTACT</h2>
                <hr style="width: 140px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">
            </div>
        </div>
    </div>
    <div class="contact-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <table>
                        <tbody>
                            <tr>
                                <td><i class="fa fa-mobile" aria-hidden="true"></i></td>
                                <td>
                                    <div>
                                        <h4>Mobile No:</h4>
                                        <h6>+91 9597175970</h6>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                                <td>
                                    <div>
                                        <h4>Location:</h4>
                                        <h6>Dharmapuri</h6>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                <td>
                                    <div>
                                        <h4>Email:</h4>
                                        <h6>Sudhakarm761998@gmail.com</h6>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name"
                                    formControlName="FirstName" [ngClass]="
                                {
                                  'is-invalid':form.get('FirstName')?.touched && form.get('FirstName')?.invalid
                                }">
                                <small *ngIf="form.get('FirstName')?.touched && form.get('FirstName')?.invalid">
                                    <small *ngIf="form.get('FirstName')?.errors ?.required " style="color: red;">
                                        First Name is required
                                    </small>
                                    <small
                                        *ngIf="form.get('FirstName')?.errors ?.minlength && !form.get('FirstName')?.errors ?.pattern"
                                        style="color: red;">
                                        FirstName atleast 3 Character
                                    </small>
                                    <small *ngIf="form.get('FirstName')?.errors ?.NameError" style="color: red;">
                                        This Name is Not Allowed
                                    </small>
                                    <small *ngIf="form.get('FirstName')?.errors ?.maxlength" style="color: red;">
                                        FirstName atmost 10 Character
                                    </small>
                                    <small *ngIf="form.get('FirstName')?.errors ?.pattern" style="color: red;">
                                        First Name should be Character
                                    </small>
                                </small>
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name"
                                    formControlName="LastName" [ngClass]="
                                {
                                  'is-invalid':form.get('LastName')?.touched && form.get('LastName')?.invalid
                                }">
                                <small *ngIf="form.get('LastName')?.touched && form.get('LastName')?.invalid">
                                    <small *ngIf="form.get('LastName')?.errors ?.required " style="color: red;">
                                        Last Name is required
                                    </small>
                                    <small
                                        *ngIf="form.get('LastName')?.errors ?.minlength && !form.get('LastName')?.errors ?.pattern"
                                        style="color: red;">
                                        Last Name atleast 3 Character
                                    </small>
                                    <small *ngIf="form.get('LastName')?.errors ?.NameError" style="color: red;">
                                        This Name is Not Allowed
                                    </small>
                                    <small *ngIf="form.get('LastName')?.errors ?.maxlength" style="color: red;">
                                        LastName atmost 10 Character
                                    </small>
                                    <small *ngIf="form.get('LastName')?.errors ?.pattern" style="color: red;">
                                        Last Name should be Character
                                    </small>
                                </small>
                            </div>

                        </div>
                        <div class="form-group">

                            <input type="Email" class="form-control" id="inputEmail4" placeholder="Email"
                                formControlName="Email" [ngClass]="
                                {
                                  'is-invalid':form.get('Email')?.touched && form.get('Email')?.invalid
                                }">
                            <small *ngIf="form.get('Email')?.touched && form.get('Email')?.invalid">
                                <small *ngIf="form.get('Email')?.errors ?.required " style="color: red;">
                                    Email is required
                                </small>
                                <small *ngIf="form.get('Email')?.errors?.pattern" style="color: red;">
                                    Invalid Email
                                </small>
                                <small *ngIf="form.get('Email')?.errors?.EmailError" style="color: red;">
                                    Invalid Email (Email should be "gmail.com")
                                </small>
                            </small>
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" id="inputMobile" placeholder="Mobile Number"
                                formControlName="Mobile" [ngClass]="
                                {
                                  'is-invalid':form.get('Mobile')?.touched && form.get('Mobile')?.invalid
                                }">
                            <small *ngIf="form.get('Mobile')?.touched && form.get('Mobile')?.invalid">
                                <small *ngIf="form.get('Mobile')?.errors ?.required " style="color: red;">
                                    Mobile Number is required
                                </small>
                                <small
                                    *ngIf="form.get('Mobile')?.errors ?.minlength && !form.get('Mobile')?.errors ?.pattern"
                                    style="color: red;">
                                    Mobile Number atleast 10 Digit
                                </small>
                                <small *ngIf="form.get('Mobile')?.errors ?.NameError" style="color: red;">
                                    This Number is Not Allowed
                                </small>
                                <small *ngIf="form.get('Mobile')?.errors ?.maxlength" style="color: red;">
                                    Mobile atmost 12 Digit
                                </small>
                                <small *ngIf="form.get('Mobile')?.errors ?.pattern" style="color: red;">
                                    Number should be Digit
                                </small>
                            </small>
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" id="inputSubject" placeholder="Subject"
                                formControlName="Subject" [ngClass]="
                                {
                                  'is-invalid':form.get('Subject')?.touched && form.get('Subject')?.invalid
                                }">
                            <small *ngIf="form.get('Subject')?.touched && form.get('Subject')?.invalid">
                                <small *ngIf="form.get('Subject')?.errors ?.required " style="color: red;">
                                    Subject is required
                                </small>
                                <small
                                    *ngIf="form.get('Subject')?.errors ?.minlength && !form.get('Subject')?.errors ?.pattern"
                                    style="color: red;">
                                    Subject atleast 3 Character
                                </small>
                                <small *ngIf="form.get('Subject')?.errors ?.NameError" style="color: red;">
                                    This Subject is Not Allowed
                                </small>
                                <small *ngIf="form.get('Subject')?.errors ?.maxlength" style="color: red;">
                                    Subject atmost 10 Character
                                </small>
                                <small *ngIf="form.get('Subject')?.errors ?.pattern" style="color: red;">
                                    Subject should be Character
                                </small>
                            </small>
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="inputMessage" placeholder="Message"
                                formControlName="Message"></textarea>
                        </div>
                        <button type="submit" class="btn" style="background-color: #007bff;color: white;"
                            [disabled]="!form.valid">Send Message</button>
                    </form>
                </div>
                <div></div>

            </div>
        </div>
    </div>
</section>
<!--Contact Page Ended-->
<!--Footer Page Started-->
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3" style="background-color: #f7f8f9;">
    <div class="container">
        <div class="row">
            <div class="contact-Heading col-lg-12">
                <address style="text-align: center;margin-top: 40px; font-size: 32px;
                font-weight: bold;
                position: relative;
                color: #45505b;">Sudhakar M</address>
                <hr style="width: 140px;
            height: 4px;
            background-color: #45505b;;border-style: none;margin-bottom: 40px;">
            </div>
        </div>
    </div>
    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5" style="text-align: center;">

                    <!-- Facebook -->
                    <a class="tw-ic" href="https://www.facebook.com/sudhakar.kanish.5">
                        <i class="fa fa-facebook"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fa fa-twitter" href="https://twitter.com/SUDHAKA33277478"> </i>
                    </a>
                    <a class="tw-ic" href="https://www.youtube.com/channel/UCAXjNPb8fMs4xy6GSJkX8Yg">
                        <i class="fa fa-youtube"> </i>
                    </a>
                    <a class="tw-ic" href="tel:9597175970">
                        <i class="fa fa-whatsapp"> </i>
                    </a>
                    <a class="tw-ic">
                        <i class="fa fa-skype" href="https://secure.skype.com/portal/profile"> </i>
                    </a>
                    <a class="tw-ic" href="https://github.com/Sudhakarm1">
                        <i class="fa fa-github"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" href="https://www.linkedin.com/in/sudha1998/">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/sudhakar_kongu_dharmapuri/">
                        <i class="fa fa-instagram"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" href="https://in.pinterest.com/sudhajar/_saved/">
                        <i class="fa fa-pinterest"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:<strong><span
                style="color: #45505b;">Sudhakar</span></strong>
        All Rights Reserved
        <div>
            <span>Altered by <strong>Sudhakar</strong></span>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<!--Footer Page Endded-->